pom.xml
*.jar
classes
lib
target
native
checkouts
.lein-failures
checkouts
.lein-deps-sum
bin
temp
ccw.repl.cmdhistory.prefs
*.log
/sputnik-control/sputnik-*
Solomon
*.data
*.csv
*.txt
*.log
*.log.[0-9]+
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
.*.md.html
/sputnik-*
